# Node.js dependencies
node_modules/
package-lock.json

# Build files
dist/
build/

# Local development
.env
.env.local

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Third-party libraries
src/particles.js-master/

# Log files
*.log
